{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "reinnitialiser mot de passe" %}{% endblock %}

{% block content %}
    <h1>{% trans "Mot de passe reinnitialisé" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Nous vous avons envoyé un email. Veuillez nous contacter si vous ne recevez pas l'email dans les prochaines minutes !{% endblocktrans %}</p>
{% endblock %}
