<!-- blog/templates/blog/create_post.html -->

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Créez une publication</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Titre</label>
        <input type="text" class="form-control" name="title" placeholder="Titre de ta publication">
        
        <label for="text">Publication</label>
        <textarea class="form-control" name="text" cols="30" rows="10" placeholder="Ecrire le Description de ta publication"></textarea>
        
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image">  <!-- Champ pour télécharger l'image -->
        
        <br>
        <button class="site-btn">Créez la publication</button>
    </form>
</div>
<br>
{% endblock %}
